@model Device

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalLinks {
    <li class="list-group-item pr-0 pl-0 d-none d-lg-block" style="  background-color: #201063">
        <a class="nav-link pl-0 dropdown-toggle  ml-3 " style="color: white; font-weight:bold;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"><img src="~/Icons/dasboardplain.svg" alt="" /> <span class="d-none d-lg-inline"> Dashboard</span></a>
        <div class="collapse  " id="collapseExample">
            <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/earth.svg" alt="" /><span class="d-none d-lg-inline"> Overview</span></a>
            <a class="nav-link pl-3" style="color: white; font-weight:bold; background-color:#150b42" asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/maps-and-location.svg" alt="" /> <span class="d-none d-lg-inline"> Location</span></a>
            <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Temp" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/heat.svg" alt="" /><span class="d-none d-lg-inline"> Temperature</span></a>
        </div>
    </li>
}

<header class="border p-2 d-flex justify-content-between">
    <div class="d-none d-lg-block">
        <h3 class="text-left  "><img src="~/Icons/dashboardPict.svg" alt="" /> Dashboard</h3>
        <p class="text-left  m-0">@DateTime.Now</p>
    </div>
    <h2 class="text-center m-auto">
        <img src="~/Icons/aim.svg" alt="" /> Tracker @Model.DeviceId
    </h2>
    <p class="d-none d-lg-block">&ensp; </p>
</header>

<section class="d-flex flex-column-reverse flex-lg-row">
    <div class="container-fluid p-0 ">
        <article class="card-deck p-0  m-0 d-flex flex-column flex-lg-row justify-content-between">

            <div class="card m-3">
                <last-contact :device_id="deviceId" />
            </div>
            <div class="card m-3">
                <temperature :device_id="deviceId" />
            </div>
            <div class="card m-3">
                <battery :device_id="deviceId" />
            </div>
            <div class="card m-3">


                    <div id="myMap" style="height:400px">
                        <mapcontainer :device_id="deviceId" />
                    </div>

            </div>
            <div class="col ml-lg-3 mr-lg-3 p-0">
                <temperature-chart :device_id="deviceId" />
            </div>

        </article>
    </div>


    <aside class="d-flex flex-column flex-lg-row-reverse  ">
            <alertcomponent :device_id="deviceId" />
    </aside>


</section>

@section Vue {
    <script>
    vueData = {
      data: function () {
        return {
          batteryLevel: undefined,
          deviceId: "@Model.DeviceId",
        }
      }
    }
    </script>
}

@section VueComponents {
    <partial name="VueComponents/Alertcomponent.VueComponent" />
    <partial name="VueComponents/Battery.VueComponent" />
    <partial name="VueComponents/Temperature.VueComponent" />
    <partial name="VueComponents/LastContact.VueComponent" />
    <partial name="VueComponents/TemperatureChart.VueComponent" />
    <partial name="VueComponents/Shock.VueComponent" />
    <partial name="VueComponents/Mapcontainer.VueComponent" />

} 