@model Device

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalLinks {
    <li class="list-group-item pr-0 pl-0 d-none d-lg-block" style="  background-color: #201063">
        <a class="nav-link pl-0 dropdown-toggle  ml-3 " style="color: white; font-weight:bold;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"><img src="~/Icons/dasboardplain.svg" alt="" /> <span class="d-none d-lg-inline"> Dashboard</span></a>
        <div class="collapse  " id="collapseExample">
            <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/earth.svg" alt="" /><span class="d-none d-lg-inline"> Overview</span></a>
            <a class="nav-link pl-3" style="color: white; font-weight:bold; background-color:#150b42" asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/maps-and-location.svg" alt="" /> <span class="d-none d-lg-inline"> Location</span></a>
            <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Temp" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/heat.svg" alt="" /><span class="d-none d-lg-inline"> Temperature</span></a>
        </div>
    </li>
}

<header class="border p-2 d-flex justify-content-between">
    <div class="d-none d-lg-block">
        <h3 class="text-left  "><img src="~/Icons/dashboardPict.svg" alt="" /> Dashboard</h3>
        <p class="text-left  m-0">@DateTime.Now</p>
    </div>
    <h2 class="text-center m-auto">
        <img src="~/Icons/aim.svg" alt="" /> Tracker @Model.DeviceId
    </h2>
    <p class="d-none d-lg-block">&ensp; </p>
</header>

<section class="d-flex flex-column-reverse flex-lg-row">
    <div class="container-fluid p-0 ">
        <article class="card-deck p-0  m-0 d-flex flex-column flex-lg-row justify-content-between">
            <div class="card m-3">
                <div>
                    <div class="card-header pb-0" style=" color: #201063;">
                        <h5 class="card-title" style="font-weight: bold;"><img src="~/Icons/warningBlueBeon.svg" alt="" /> Number of shocks</h5>
                    </div>
                    <div class="card-body ">
                        <p class="card-text ">- total shocks:  </p>
                        <p class="card-text ">- from last 72h:  </p>
                        <p class="card-text ">- since last contact:  </p>
                        <p class="card-text">- Max shock: g</p>
                    </div>
                </div>
            </div>

            <div class="card m-3">
                <last-contact :device_id="deviceId" />
            </div>
            <div class="card m-3">
                <temperature :device_id="deviceId" />
            </div>
            <div class="card m-3">
                <battery :device_id="deviceId" />
            </div>
            <div class="card m-3">
                <shock :device_id="deviceId" />
            </div>
        </article>

        <article class=" p-3 p-lg-0 m-auto d-flex flex-column flex-lg-row ">
            <div class="card m-auto m-lg-3 col-12 col-lg-5 p-0 " style="height:auto">
                <div class="card-header pb-0" style=" color: #201063;">
                    <h5 class="card-title " style="font-weight: bold;"><a asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId" style="color: #201063;"><img src="~/Icons/mapBlueBeon.svg" alt="" /> Location</a></h5>
                </div>
                <div class="card-body">
                    <div id="map"></div>
                </div>
            </div>
            <div class="col mb-lg-3 mr-lg-3 p-0" style="height:auto">
            <div class="card mt-3 mb-3 col-12 p-0 ">
                <temperature-chart :device_id="deviceId" />
            </div>
                </div>
        </article>
    </div>

    <aside class="d-flex flex-column flex-lg-row-reverse m-3 m-lg-0 mt-lg-3 mb-lg-3 p-0  ">
        <div>
            <div class="h-100 p-0 mr-2 text-center">
                <a class="btn btn-light border h-100  " data-bs-toggle="collapse" href="#alertCollapse" role="button" aria-expanded="false" aria-controls="alertCollapse" onclick="ChangeArrow()">
                    <span class="position-relative d-none d-lg-flex" style="top:50%;">
                        <img src="~/Icons/left-arrow.svg" alt="" id="arrowLeft" /><img src="~/Icons/right-arrow.svg" alt="" class="d-none" id="arrowRight" />&nbsp
                        <img src="~/Icons/notificationBell.svg" alt="" />
                        <img src="~/Icons/notification.svg" alt="" />
                    </span>
                    <span class="position-relative d-flex flex-column-reverse d-lg-none " style="top:50%;">
                        <img src="~/Icons/down-arrow.svg" alt="" id="arrowDown" /><img src="~/Icons/up-arrow.svg" alt="" class="d-none" id="arrowUp" />&nbsp
                        <img src="~/Icons/notificationBell.svg" alt="" />
                        <img src="~/Icons/notification.svg" alt="" />
                    </span>
                </a>
            </div>
        </div>
    </aside>

</section>

@section Vue {
    <script>
    vueData = {
      data: function () {
        return {
          batteryLevel: undefined,
          deviceId: "@Model.DeviceId",
        }
      }
    }
    </script>
}

@section VueComponents {
    <partial name="VueComponents/Battery.VueComponent" />
    <partial name="VueComponents/Temperature.VueComponent" />
    <partial name="VueComponents/LastContact.VueComponent" />
    <partial name="VueComponents/TemperatureChart.VueComponent" />
    <partial name="VueComponents/Shock.VueComponent" />
} 