

@model Device
@{
    ViewData["Title"] = "Location1Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section AdditionalLinks {
    <li class="list-group-item pr-0 pl-0 d-none d-lg-block" style="  background-color: #201063">
        <a class="nav-link pl-0 dropdown-toggle  ml-3 " style="color: white; font-weight:bold;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"><img src="~/Icons/dasboardplain.svg" alt="" /> <span class="d-none d-lg-inline"> Dashboard</span></a>
        <div class="collapse  " id="collapseExample">
            <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/earth.svg" alt="" /><span class="d-none d-lg-inline"> Overview</span></a>
            <a class="nav-link pl-3" style="color: white; font-weight:bold; background-color:#150b42" asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/maps-and-location.svg" alt="" /> <span class="d-none d-lg-inline"> Location</span></a>
            <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Temp" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/heat.svg" alt="" /><span class="d-none d-lg-inline"> Temperature</span></a>
        </div>
    </li>
}

    <header class="border p-2 d-flex justify-content-between">
        <h2 class="text-center m-auto">
            <a class="" style="color:inherit" asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@Model.DeviceId"><img src="~/Icons/aim.svg" alt="" />Tracker  @Model.DeviceId</a>
        </h2>
        <p class="d-none d-lg-block">&ensp; </p>
    </header>
    <section class="d-flex flex-column-reverse flex-lg-row ">

        <article class="container-fluid p-3 d-flex flex-column">
            <nav class="navbar navbar-dark bg-light justify-content-center">
                <div class="d-flex flex-column flex-lg-row justify-content-between ">
                    <div class="text-center m-1">

                        <button type="button" id="sortButton24" class="btn btn-success" onclick="UpdateLocation24()">24h</button>
                        <button type="button" id="sortButton72" class="btn btn-dark" onclick="UpdateLocation72()">72h</button>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSortByDate" aria-expanded="false" aria-controls="collapseSortByDate">
                            Between date
                        </button>
                    </div>

                    <div class="collapse" id="collapseSortByDate">
                        <div class="card card-body">
                            <div class="text-center d-flex flex-column flex-lg-row">
                                <div class="border m-1 p-1">
                                    <p>Begin date:</p>
                                    <label class="beginDate">
                                        <input type="date" id="beginDate" name="beginDate" value="" />
                                        <input type="time" id="beginTime" name="beginTime" value="" />
                                    </label>
                                </div>
                                <div class="border m-1 p-1">
                                    <p>End date:</p>
                                    <label class="endDate">
                                        <input type="date" name="endDate" id="endDate" value="">
                                        <input type="time" id="endTime" name="endTime" value="" />
                                    </label>
                                </div>
                            </div>
                            <button type="button" id="bouton" onclick="UpdateLocationBetween()">send</button>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="card m-auto m-3  w-100 ">
                <div class="card-header pb-0" style=" color: #201063;">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title " style="font-weight: bold;">
                            <a asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId" style="color: #201063;"><img src="~/Icons/mapBlueBeon.svg" alt="" /> Location</a>
                        </h5>
                        <p id="betweenDate"></p>
                    </div>
                </div>
                <div class="card-body">
                    <div id="location1device"></div>
                </div>
            </div>
        </article>
        
    </section>

@section Vue {
    <script>
    vueData = {
      data: function () {
        return {
          batteryLevel: undefined,
          deviceId: "@Model.DeviceId",
        }
      }
    }
    </script>
}

@section VueComponents {
    <partial name="VueComponents/Locationcontainer.VueComponent" />
}