@model IEnumerable<Device>

@{
    ViewData["Title"] = "listDevices";
    Layout = "~/Views/Shared/_LayoutBeonPrincipal.cshtml";
    IEnumerable<Device> devices = Model;
}
<section class="d-flex flex-column-reverse flex-lg-row">
    <article class="container-fluid p-0">
        <div class="border m-3 m-lg-0">

        <div class="border p-3">
            <h3 class="text-left  ">Tracker List</h3>
        </div>
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Device Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Device dev in Model)
                {
                    <tr>
                        @if(dev.EnvironmentPayloads.Count!=0)
                        {
                        <th scope="row"> <a asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@dev.DeviceId"> @dev.DeviceId</a></th>
                        }
                        else
                        {
                        <th scope="row">  @dev.DeviceId <i class="text-muted">No data avalaible</i></th>
                        }
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </article>
    <aside class="d-flex flex-column flex-lg-row-reverse m-3 mr-lg-0  p-0  ">
        <div class="h-100 p-0 mr-2 text-center">
            <a class="btn btn-light border h-100  " data-bs-toggle="collapse" href="#alertCollapse" role="button" aria-expanded="false" aria-controls="alertCollapse" onclick="ChangeArrow()"><span class="position-relative d-none d-lg-flex" style="top:50%;"><i class="fas fa-arrow-left" id="arrowLeft"></i><i class="fas fa-arrow-right d-none" id="arrowRight"></i>&nbsp<i class="far fa-bell "></i></span><span class="position-relative d-flex d-lg-none " style="top:50%;"><i class="fas fa-arrow-down" id="arrowDown"></i><i class="fas fa-arrow-up d-none" id="arrowUp"></i>&nbsp<i class="far fa-bell "></i></span></a>
        </div>
        <div class="row" style="">
            <div class="col text-center" style="width:max-content;">
                <div class="collapse" id="alertCollapse">
                    <div class="card card-body" style="height: 80vh;  overflow-y: scroll;">
                        @{
                            string flag = "";
                            foreach (var device in devices)
                            {
                                if (device.EnvironmentPayloads.Count != 0)
                                {

                                    IEnumerable<EnvironmentPayload> environmentPayloadsOrderByAsc = device.EnvironmentPayloads.OrderBy(a => a.TimestampEvent);
                                    EnvironmentPayload environmentLast = environmentPayloadsOrderByAsc.Last();
                                    IEnumerable<EnvironmentPayload> env72alert = environmentPayloadsOrderByAsc.Where(e => e.TimestampEvent > environmentLast.TimestampEvent.AddHours(-72));


                                    foreach (var env in env72alert)
                                    {

                                        if ((env.EventType == "1" || env.EventType == "2" || env.EventType == "3") && flag != device.DeviceId)
                                        {
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <p>
                                                    Device:  @device.DeviceId
                                                </p>
                                                <p>
                                                    Last contact: <br /> @environmentLast.TimestampEvent
                                                </p>
                                                <p>
                                                    <a asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@device.DeviceId">Link to dashboard</a>
                                                </p>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            flag = device.DeviceId;
                                        }
                                        if (env.EventType == "1")
                                        {
                                            <div>
                                                <p class=" alertcolorred fas fa-temperature-high">Alert temperature    -   @env.TimestampEvent</p>
                                            </div> }
                                        else if (env.EventType == "2")
                                        {
                                            <div>
                                                <p class="alertcolorgreen fas fa-temperature-high"> Alert temperature terminée   -   @env.TimestampEvent</p>
                                            </div> }
                                        else if (env.EventType == "3")
                                        {
                                            <div>
                                                <p class="alertcolorblue fas fa-exclamation-triangle"> Alert Shock    -   @env.TimestampEvent</p>
                                            </div> }
                                        else
                                        {
                                            continue;
                                        }
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </aside>
</section>
