@model Device
@{
    ViewData["Title"] = "listDevices";
    Layout = "~/Views/Shared/_layoutBeonDashboard.cshtml";
    Device myDevice = Model;
    IEnumerable<EnvironmentPayload> myDeviceEnv = myDevice.EnvironmentPayloads;
    //EnvironmentPayload environment = myDeviceEnv.Last();
    //IEnumerable<EnvironmentPayload> myDeviceEnv72 = myDeviceEnv.Where(e => e.TimestampEvent> environment.TimestampEvent.AddHours(-12));
}


<aside class=" p-0  flex-shrink-1" style="  background-color: #201063">
    <nav class="navbar navbar-expand navbar-dark flex-lg-column flex-row align-items-start p-0">
        <div class="collapse navbar-collapse row m-auto">

            <ul class="flex-lg-column flex-row navbar-nav justify-content-between ">
                <li class="list-group-item  rounded-0" style="  background-color: #201063;">
                    <a class="nav-link pl-0 text-nowrap" style="color: white; font-weight:bold;" asp-controller="Home" asp-action="Index"><i class="fas fa-home "></i><span class="d-none d-lg-inline"> Home</span></a>
                </li>
                <li class="list-group-item" style="  background-color: #201063">
                    <a class="nav-link pl-0" style="color: white; font-weight:bold;" asp-controller="Beon" asp-action="listDevices"><i class="fas fa-eye "></i> <span class="d-none d-lg-inline">Tracker list</span></a>
                </li>
                <li class="list-group-item" style="  background-color: #201063">
                    <a class="nav-link pl-0" style="color: white; font-weight:bold; " asp-controller="Beon" asp-action="Overview"><i class="fas fa-globe-europe "></i><span class="d-none d-lg-inline"> Overview</span></a>
                </li>
                <li class="list-group-item pr-0 pl-0 d-none d-lg-block" style="  background-color: #201063">
                    <a class="nav-link pl-0 dropdown-toggle  ml-3 " style="color: white; font-weight:bold;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"><i class="fa fa-star fa-fw"></i> <span class="d-none d-lg-inline"> Dashboard</span></a>
                    <div class="collapse  " id="collapseExample">
                        <a class="nav-link pl-3" style="color: white; font-weight:bold; background-color:#150b42" asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId"><i class="fas fa-map-marked"></i> <span class="d-none d-lg-inline"> Location</span></a>
                        <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Temp" asp-route-IdDevice="@Model.DeviceId"><i class="fas fa-temperature-high"></i><span class="d-none d-lg-inline"> Temperature</span></a>
                        <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@Model.DeviceId"><i class="fas fa-globe-europe "></i><span class="d-none d-lg-inline"> Overview</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<main role="main" class="col p-0">
    <article class="container-fluid p-3 d-flex">
        <div class="card col m-auto m-3  ">
            <div class="card-header pb-0" style="background-color: #212429; color: #48cbd8;">
                <h5 class="card-title " style="font-weight: bold;"><a asp-controller="BeOn" asp-action="Location1Device" style="color: #48cbd8; "> <i class="fas fa-map-marked"></i> Location</a></h5>
            </div>
            <div class="card-body">
                <div id="location1device"></div>
            </div>
        </div>
    </article>
    <div class="d-flex flex-column flex-lg-row-reverse m-3 m-lg-0 mt-lg-3 mb-lg-3 p-0  ">
        <div class="h-100 p-0 mr-2 text-center">
            <a class="btn btn-light border h-100  " data-bs-toggle="collapse" href="#alertCollapse" role="button" aria-expanded="false" aria-controls="alertCollapse" onclick="ChangeArrow()"><span class="position-relative d-none d-lg-flex" style="top:50%;"><i class="fas fa-arrow-left" id="arrowLeft"></i><i class="fas fa-arrow-right d-none" id="arrowRight"></i>&nbsp<i class="far fa-bell "></i></span><span class="position-relative d-flex d-lg-none " style="top:50%;"><i class="fas fa-arrow-down" id="arrowDown"></i><i class="fas fa-arrow-up d-none" id="arrowUp"></i>&nbsp<i class="far fa-bell "></i></span></a>
        </div>
        <div class="row" style="">
            <div class="col text-center" style="width:max-content;">
                <div class="collapse" id="alertCollapse">
                    <div class="card card-body" style="height: 80vh;  overflow-y: scroll;">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script type="text/javascript">
    let deviceEnvironmentInfo = new Array();
@{string latitude = "43.7384";
    string longitude = "7.4246";
    double sMax = 0;
    double totalShock = 0;
    String lastContact = "";
    Int32 tMean = 0;
    Int32 batteryLvl = 0;
    int i = 0;
}
@{ foreach (EnvironmentPayload env in myDeviceEnv)
    {
        if (env != null)
        {
            double latitudeDouble = Math.Round(env.ComputedLatitude, 6);
            double longitudeDouble = Math.Round(env.ComputedLongitude, 6);
            latitude = latitudeDouble.ToString().Replace(',', '.');
            longitude = longitudeDouble.ToString().Replace(',', '.');
            lastContact = env.TimestampEventToString;
            sMax = env.Smax;
            totalShock = env.TotalShock;
            tMean = env.Tmean;
            batteryLvl = Convert.ToInt32(env.Batterylvl);
            i++;
            
        }      
        <Text>
            var deviceInfo = ('"@i": {"lat":' +  @latitude + ',"lon":' + @longitude + ',"batteryLvl":' + @batteryLvl +',"sMax":' + @sMax  + ',"totalShock":' + @totalShock  + ',"tMean":' + @tMean + ',"lastContact": "@lastContact"}');
            deviceEnvironmentInfo.push(deviceInfo);
        </Text>
    }
}
    </script>
    <script src="~/js/scriptLocation1Device.js"></script>
