@model Device
@{
    ViewData["Title"] = "listDevices";
    Layout = "~/Views/Shared/_LayoutBeonDashboard.cshtml";

    IEnumerable<EnvironmentPayload> environmentOrderByAsc = Model.EnvironmentPayloads.OrderBy(a => a.TimestampEvent);
    EnvironmentPayload environment = environmentOrderByAsc.Last();
    IEnumerable<EnvironmentPayload> env72 = environmentOrderByAsc.Where(e => e.TimestampEvent > environment.TimestampEvent.AddHours(-72));
    IEnumerable<EnvironmentPayload> env24 = environmentOrderByAsc.Where(e => e.TimestampEvent > environment.TimestampEvent.AddHours(-24));
    IEnumerable<EnvironmentPayload> env72alert = environmentOrderByAsc.Where(e => e.TimestampEvent > environment.TimestampEvent.AddMonths(-72));

}

<aside class=" p-0  flex-shrink-1" style="  background-color: #201063">
    <nav class="navbar navbar-expand navbar-dark flex-lg-column flex-row align-items-start p-0">
        <div class="collapse navbar-collapse row m-auto">

            <ul class="flex-lg-column flex-row navbar-nav justify-content-between ">
                <li class="list-group-item  rounded-0" style="  background-color: #201063;">
                    <a class="nav-link pl-0 text-nowrap" style="color: white; font-weight:bold;" asp-controller="Home" asp-action="Index"><i class="fas fa-home "></i><span class="d-none d-lg-inline"> Home</span></a>
                </li>
                <li class="list-group-item" style="  background-color: #201063">
                    <a class="nav-link pl-0" style="color: white; font-weight:bold;" asp-controller="Beon" asp-action="listDevices"><i class="fas fa-eye "></i> <span class="d-none d-lg-inline">Tracker list</span></a>
                </li>
                <li class="list-group-item" style="  background-color: #201063">
                    <a class="nav-link pl-0" style="color: white; font-weight:bold; " asp-controller="Beon" asp-action="Overview"><i class="fas fa-globe-europe "></i><span class="d-none d-lg-inline"> Overview</span></a>
                </li>
                <li class="list-group-item pr-0 pl-0 d-none d-lg-block" style="  background-color: #201063">
                    <a class="nav-link pl-0 dropdown-toggle  ml-3 " style="color: white; font-weight:bold;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"><i class="fa fa-star fa-fw"></i> <span class="d-none d-lg-inline"> Dashboard</span></a>
                    <div class="collapse  " id="collapseExample">
                        <a class="nav-link pl-3" style="color: white; font-weight:bold; background-color:#150b42" asp-controller="Beon" asp-action="Location1Device" asp-route-IdDevice="@Model.DeviceId"><i class="fas fa-map-marked"></i> <span class="d-none d-lg-inline"> Location</span></a>
                        <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Temp" asp-route-IdDevice="@Model.DeviceId"><i class="fas fa-temperature-high"></i><span class="d-none d-lg-inline"> Temperature</span></a>
                        <a class="nav-link pl-3" style="color: white; font-weight:bold;  background-color:#150b42" asp-controller="Beon" asp-action="Dashboard" asp-route-IdDevice="@Model.DeviceId"><i class="fas fa-globe-europe "></i><span class="d-none d-lg-inline"> Overview</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<main role="main" class="col p-0 d-flex flex-column">
    <header class="border p-2 d-flex justify-content-between">
        <h2 class="text-center m-auto">
            <i class="fas fa-crosshairs"></i>Tracker  @Model.DeviceId
        </h2>
        <p class="d-none d-lg-block">&ensp; </p>
    </header>
    <section class="d-flex flex-row">
        <article class="container-fluid p-3 d-flex">
            <div class="card col m-auto m-3  ">
                <div class="card-header pb-0" style="background-color: #212429; color: #48cbd8;">
                    <h5 class="card-title " style="font-weight: bold;"><a asp-controller="BeOn" asp-action="Location1Device" style="color: #48cbd8; "> <i class="fas fa-map-marked"></i> Location</a></h5>
                </div>
                <div class="card-body">
                    <div id="map"></div>
                </div>
            </div>
           
        </article>
        <aside class="d-flex flex-column flex-lg-row-reverse m-3 m-lg-0 mt-lg-3 mb-lg-3 p-0  ">
            <div>
                <div class="h-100 p-0 mr-2 text-center">
                    <a class="btn btn-light border h-100  " data-bs-toggle="collapse" href="#alertCollapse" role="button" aria-expanded="false" aria-controls="alertCollapse" onclick="ChangeArrow()"><span class="position-relative d-none d-lg-flex" style="top:50%;"><i class="fas fa-arrow-left" id="arrowLeft"></i><i class="fas fa-arrow-right d-none" id="arrowRight"></i>&nbsp<i class="far fa-bell "></i></span><span class="position-relative d-flex d-lg-none " style="top:50%;"><i class="fas fa-arrow-down" id="arrowDown"></i><i class="fas fa-arrow-up d-none" id="arrowUp"></i>&nbsp<i class="far fa-bell "></i></span></a>
                </div>
            </div>
            <div class="row" style="">
                <div class="col text-center">
                    <div class="collapse" id="alertCollapse">
                        <div class="card card-body" style="height: 80vh;  overflow-y: scroll;">
                            <div class="card-body">
                                @{ foreach (var env in env72)
                                    {

                                        if (env.EventType == "1")
                                        {
                                            <div>
                                                <p class="alertcolorred" style="width:max-content">
                                                    <button class="btn border-0 alertcolorred mw-100"
                                                            onclick="updateMapCarte(@env.ComputedLatitudeFormatted, @env.ComputedLongitudeFormatted, '@env.DeviceId', 'Temperature Alert', '@env.TimestampEventToString', '@env.Tmax', ' °')">
                                                        <i class=" fas fa-temperature-high"></i>
                                                        Temperature Alert  <br />  @env.TimestampEvent"
                                                    </button>
                                                </p>
                                            </div> }
                                        else if (env.EventType == "2")
                                        {
                                            <div>
                                                <p class="alertcolorgreen" style="width:max-content">
                                                    <button class="btn border-0 alertcolorgreen mw-100"
                                                            onclick="updateMapCarte(@env.ComputedLatitudeFormatted, @env.ComputedLongitudeFormatted, '@env.DeviceId', 'Temperature Alert Terminated', '@env.TimestampEventToString', '-', ' °')">
                                                        <i class="fas fa-temperature-high"></i>
                                                        Temperature Alert Terminated   <br />  @env.TimestampEvent
                                                    </button>
                                                </p>
                                            </div> }
                                        else if (env.EventType == "3")
                                        {
                                            <div>
                                                <p class="alertcolorblue " style="width:max-content">
                                                    <button class="btn border-0 alertcolorblue mw-100"
                                                            onclick="updateMapCarte(@env.ComputedLatitudeFormatted, @env.ComputedLongitudeFormatted, '@env.DeviceId', 'Shock Alert', '@env.TimestampEventToString', '@env.Smax', ' g')">
                                                        <i class=" fas fa-exclamation-triangle"></i>
                                                        Shock Alert    <br />   @env.TimestampEvent
                                                    </button>
                                                </p>
                                            </div> }
                                        else
                                        {
                                            continue;
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>
</main>